body {
    background-color: black;
    margin: 10%;
}

.main-title {
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    color: white;
}

h4 {
    color: white;
    text-align: right;
}

a {
    color: pink;

}

.container {
    border: 2px solid white;
    margin: 10px auto;
    padding: 10px;
}

.container h1 {
    text-align: left;
    color: white;

}

.container h4 {
    text-align: left;
    color: white;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 24%;
    text-align: center;
    min-height: 100px;
    margin: 20px auto;
}

.red1 {
    background-color: #FF8A80;
    color: black;
}

.red2 {
    background-color: #FF5252;
    color:  black;
}

.red3 {
    background-color: #FF1744;
    color: black;
}

.red4 {
    background-color: #D50000;
    color: white;
}

.orange1 {
    background-color: #FFD180;
    color: black;
}

.orange2 {
    background-color: #FFAB40;
    color:  black;
}

.orange3 {
    background-color: #FF9100;
    color: black;
}

.orange4 {
    background-color: #FF6D00;
    color: black;
}

.yellow1 {
    background-color: #FFFF8D;
    color: black;
}

.yellow2 {
    background-color: #FFFF00;
    color: black;
}

.yellow3 {
    background-color: #FFEA00;
    color: black;
}

.yellow4 {
    background-color: #FFD600;
    color: black;
}

.green1 {
    background-color: #CCFF90;
    color: black;
}

.green2 {
    background-color: #B2FF59;
    color: black;
}

.green3 {
    background-color: #76FF03;
    color: black;
}

.green4 {
    background-color: #64DD17;
    color: black;
}

.blue1 {
    background-color: #82B1FF;
    color: black;
}

.blue2 {
    background-color: #448AFF;
    color: black;
}

.blue3 {
    background-color: #2979FF;
    color: black;
}

.blue4 {
    background-color: #2962FF;
    color: white;
}

.purple1 {
    background-color: #EA80FC;
    color: black;
}

.purple2 {
    background-color: #E040FB;
    color: black;
}

.purple3 {
    background-color: #D500F9;
    color: black;
}

.purple4 {
    background-color: #AA00FF;
    color: white;
}

.brown1 {
    background-color: #D7CCC8;
    color: black;
}

.brown2 {
    background-color: #BCAAA4;
    color: black;
}

.brown3 {
    background-color: #8D6E63;
    color: white;
}

.brown4 {
    background-color: #5D4037;
    color: white;
}

.gray1 {
    background-color: #F5F5F5;
    color: black;
}

.gray2 {
    background-color: #EEEEEE;
    color: black;
}

.gray3 {
    background-color: #BDBDBD;
    color: black;
}

.gray4 {
    background-color: #616161;
    color: white;
}