body {
    background-color: black;
    margin: 10%;
}

.main-title {
    text-align: center;
    margin: 40px auto;
    padding: 20px;
    color: white;
    font-size: 58px;
}

h4 {
    color: white;
    text-align: right;
}

a {
    color: pink;

}

.nav-bar {
    margin: 10px auto;
    padding: 5px 10px;
    height: 50px;
}

.nav-bar a{
    float: left;
    color: rgb(51, 255, 0);
    text-align: center;
    font-size: 24px;
    width: 32%;
    text-decoration: none;
    font-size: bold;
}

.container {
    border: 2px solid white;
    margin: 10px auto;
    padding: 10px;
}

.container h1 {
    text-align: left;
    color: white;

}

.container h4 {
    text-align: left;
    color: white;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 24%;
    text-align: center;
    min-height: 100px;
    margin: 20px auto;
}

.red1 {
    background-color: #FF8A80;
    color: black;
}

.red2 {
    background-color: #FF5252;
    color:  black;
}

.red3 {
    background-color: #FF1744;
    color: black;
}

.red4 {
    background-color: #D50000;
    color: white;
}

.orange1 {
    background-color: #FFD180;
    color: black;
}

.orange2 {
    background-color: #FFAB40;
    color:  black;
}

.orange3 {
    background-color: #FF9100;
    color: black;
}

.orange4 {
    background-color: #FF6D00;
    color: black;
}

.yellow1 {
    background-color: #FFFF8D;
    color: black;
}

.yellow2 {
    background-color: #FFFF00;
    color: black;
}

.yellow3 {
    background-color: #FFEA00;
    color: black;
}

.yellow4 {
    background-color: #FFD600;
    color: black;
}

.green1 {
    background-color: #CCFF90;
    color: black;
}

.green2 {
    background-color: #B2FF59;
    color: black;
}

.green3 {
    background-color: #76FF03;
    color: black;
}

.green4 {
    background-color: #64DD17;
    color: black;
}

.blue1 {
    background-color: #82B1FF;
    color: black;
}

.blue2 {
    background-color: #448AFF;
    color: black;
}

.blue3 {
    background-color: #2979FF;
    color: black;
}

.blue4 {
    background-color: #2962FF;
    color: white;
}

.purple1 {
    background-color: #EA80FC;
    color: black;
}

.purple2 {
    background-color: #E040FB;
    color: black;
}

.purple3 {
    background-color: #D500F9;
    color: black;
}

.purple4 {
    background-color: #AA00FF;
    color: white;
}

.brown1 {
    background-color: #D7CCC8;
    color: black;
}

.brown2 {
    background-color: #BCAAA4;
    color: black;
}

.brown3 {
    background-color: #8D6E63;
    color: white;
}

.brown4 {
    background-color: #5D4037;
    color: white;
}

.gray1 {
    background-color: #F5F5F5;
    color: black;
}

.gray2 {
    background-color: #EEEEEE;
    color: black;
}

.gray3 {
    background-color: #BDBDBD;
    color: black;
}

.gray4 {
    background-color: #616161;
    color: white;
}

.font-container {
    color: white;
    font-size: 21px;
}

.font-panel {
    display: inline-block;
    width: 49%;
    text-align: left;
    min-height: 100px;
    margin: 20px auto;
}

.libre-baskerville {
    font-family: 'Libre Baskerville', serif;
}

.libre-baskerville p.italic {
    font-style: italic;
}

.libre-baskerville p.bold {
    font-weight: bold;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.cinzel p.regular {
    font-weight: 400;
}

.cinzel p.bold {
    font-weight: 700;
}

.cinzel p.black {
    font-weight: 900;
}

.lobster-two {
    font-family: 'Lobster Two', cursive;
}

.lobster-two p.regular {
    font-weight: 400;
}

.lobster-two p.italic {
    font-style: italic;
}

.lobster-two p.bold {
    font-weight: 700;
}

.text-panel {
    display: block;
    text-align: left;
    height: 150px;
    margin: 20px auto;
}

.text-container {
    font-family: 'Nunito Sans';
    color: white;
}

.main-heading h1 {
    font-weight: 700;
    font-size: 26px;
}

.sub-heading h1{
    font-weight: 500;
    font-size: 18px;
}

.paragraph h1 {
    font-weight: 400;
    font-size: 14px;
}